.container {
  @include flex-center;

  flex-direction: column;
}
#userInput {
  margin-bottom: 1rem;
  border: 1px $field-color5 solid;
  height: 15rem;
  width: 25rem;
  word-wrap: normal;
  background-color: $field-color2;
  color: $field-color5;
  font-size: 2rem;
  word-wrap: break-word;
  word-break: break-all;
  text-align: center;
}
input::placeholder {
  text-align: center;
}
.result {
  border: 1px $field-color5 solid;
  height: 15rem;
  width: 25rem;
  background-color: $field-color2;
  color: $field-color5;
  font-size: 2rem;
  text-align: center;
}

h1 {
  @include flex-center;
}
h4 {
  @include flex-center;
  padding-top: 2rem;
}
